{%  extends "layout.html" %}

{% block title %}
    Explore
{% endblock %}

{% block main %}
    <!-- Modal -->
<div class="modal fade" id="addNoteModal" tabindex="-1" aria-labelledby="addNoteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <form action="/addnote" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <input class="title" name="title" placeholder="Title..." type="text">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <textarea class="note-content" rows="10" cols="30" name="note-content" wrap="hard" placeholder="Write here..."></textarea>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" id="savenote" name="savenote" value="">Save changes</button>
      </div>
    </div>
  </form>
  </div>
</div>

    <div class="tabs">

    <div class="tab">
      <input type="radio" name="css-tabs" id="for-you" class="tab-switch">
        <label for="for-you" class="tab-label"><a href="/">FOR YOU</a></label>
      <div class="tab-content">
      </div>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="saved" class="tab-switch">
        <label for="saved" class="tab-label"><a href="/saved">SAVED</a></label>
      <div class="tab-content">
        <a href="/saved">See your notes</a>
      </div>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="explore" checked class="tab-switch">
        <label for="explore" class="tab-label"><a href="/explore">EXPLORE</a></label>
      <div class="tab-content">
          ** TODO: Think of something interesting for here. **
      </div>
    </div>
    </div>


{% endblock %}