{%  extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
  <form action="/addnote" method="post">
    <div class="modal-content">
      <div class="modal-header">
        <input class="title" name="title" placeholder="Title..." type="text">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <input class="note-content" name="note-content" placeholder="Write here..." type="text">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </form>
  </div>
</div>
    <div class="tabs">

    <div class="tab">
      <input type="radio" name="css-tabs" id="for-you" checked class="tab-switch">
      <label for="for-you" class="tab-label">FOR YOU</label>
      <div class="tab-content">
          ** QOTD STUFF **
      </div>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="saved" class="tab-switch">
      <label for="saved" class="tab-label">SAVED</label>
      <div class="tab-content">
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Add note...
        </button>
      </div>
    </div>

    <div class="tab">
      <input type="radio" name="css-tabs" id="explore" class="tab-switch">
      <label for="explore" class="tab-label">EXPLORE</label>
      <div class="tab-content">
          ** POSTS FROM TBLR + RDT **
      </div>
    </div>
    </div>
{% endblock %}