{% extends "layout.html" %}

{% block title %}
    Welcome
{% endblock %}

{% block main %}
<div class="intro generic-div text-center">
    <h3>A place to find and store interesting things.</h3>
    Are you bored, or looking for inspiration for what to do? You are at the right place!<br>
    'Interesting Things' is a notes app hybrid with inspiration in the form of activities, questions, jokes, quotes and more.<br>
    Sign up now to get started!<br>
</div>

<div class="login-or-signup generic-div">
<h2>— SIGN UP/LOGIN —</h2>
<div class="flex-container1">
        <div class="signup"> Signup
            <form action="/register" method="post">
            <div class="form-group">
                <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="email" placeholder="E-mail ID" type="text">
            </div>
            <div class="form-group">
                <input class="form-control" name="password" placeholder="Password" type="password">
            </div>
            <button class="btn btn-primary" type="submit">Register</button>
            </form>
        </div>
        <div class="login" id="login"> Login
            <form action="/login" method="post">
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="username" placeholder="Username" type="text">
                </div>
                <div class="form-group">
                    <input class="form-control" name="password" placeholder="Password" type="password">
                </div>
                <button class="btn btn-primary" type="submit">Log In</button>
            </form>
        </div>
</div>
</div>
{% endblock %}
